{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% include 'partials/flashes/error.html.twig' %}
    {% include 'partials/flashes/success.html.twig' %}

        <h1 class="h2 mt-4 text-center">Connexion</h1>
        <p class="text-center">Connectez vous afin d'intéragir avec les autres.</p>
        <div id="loginForm" class="offset-md-3 col-md-6 offset-md-3">
        <form method="post">
            {#{% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}#}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <div class="input-group">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <span class="input-group-text" id="basic-addon1"><i id="togglePassword" class="fas fa-eye" onclick="toggleConnexionPassword()"></i></span>
            </div>
            <!-- <div class="form-check mt-1"> -->
            <div class="d-block">
                <input type="checkbox" id="remember_me" name="_remember_me" />
                <label class="mt-1" for="remember_me">Rester connecté</label>
            </div>
            <!-- </div> -->
            <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a><br>
            <a href="{{ path('app_register') }}">Vous n'avez pas encore un compte ? Inscrivez-vous !</a>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="mt-4 btn defaultBtn col-12" type="submit">
                Se connecter
            </button>
        </form>
    </div>
    <figure class="text-center">
        <blockquote>
            <p>Dans une discussion j'ai plus de plaisir à avoir tort que raison. J'ai ainsi l'impression d'avoir appris quelque chose.</p>
        </blockquote>
        <figcaption>Citation figurant dans <cite><a target="_blank" href="https://www.babelio.com/livres/Dereux-Journal-des-epluchures/548094">Journal des épluchures</a></cite> écrit par <b>Philippe Dereux</b>.</figcaption>
      </figure>


{% endblock %}
