{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{% include 'partials/flashes/error.html.twig' %}
{% include 'partials/flashes/success.html.twig' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

            <div class="offset-md-3 col-md-6 offset-md-3">
                <h1 class="h2 mt-4 text-center">Inscription</h1>
                <p class="text-center">Inscrivez vous afin d'intégrer la communauté des fans de Philippe Dereux.</p>

                {{ form_start(registrationForm) }}

                <div class="form-group mb-3">
                    <label class="required" for="registration_form_pseudonym">{{registrationForm.pseudonym.vars.label}}</label>
                    {{ form_errors(registrationForm.pseudonym) }}
                    {{ form_widget(registrationForm.pseudonym) }}
                    {{ form_help(registrationForm.pseudonym) }}
                </div>

                <div class="form-group mb-3">
                    <label class="required" for="registration_form_email">{{registrationForm.email.vars.label}}</label>
                    {{ form_errors(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_help(registrationForm.email) }}
                </div>

                <div class="form-group mb-3">
                    <label class="required" for="registration_form_plainPassword_password">{{registrationForm.plainPassword.password.vars.label}}</label>
                    {{ form_errors(registrationForm.plainPassword.password) }}
                    <div class="input-group mb-3">
                        {{ form_widget(registrationForm.plainPassword.password) }}
                        <span class="input-group-text" id="basic-addon1"><i id="togglePassword" class="fas fa-eye" onclick="toggleRegisterPassword1()"></i></span>
                        {{ form_help(registrationForm.plainPassword.password) }}
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label class="required" for="registration_form_plainPassword_confirm">{{registrationForm.plainPassword.confirm.vars.label}}</label>
                    {{ form_errors(registrationForm.plainPassword.confirm) }}
                    <div class="input-group mb-3">
                        {{ form_widget(registrationForm.plainPassword.confirm) }}
                        <span class="input-group-text" id="basic-addon1"><i id="togglePassword1" class="fas fa-eye" onclick="toggleRegisterPassword2()"></i></span>
                        {{ form_help(registrationForm.plainPassword.confirm) }}
                    </div>
                </div>

                {{ form_errors(registrationForm) }}

                <div class="form-group mb-3">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>

                <div class="form-group mb-3">
                    {{ form_row(registrationForm.save) }}
                </div>

                {{ form_end(registrationForm) }}

                <a href="{{ path('app_login') }}">Vous avez déjà un compte ? Connectez-vous !</a>

            </div>

            {% endblock %}

            {% block stylesheets %}
                {# Insert JS file in stylesheets block, Recaptcha documentation tell to put this file in head #}
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            {% endblock %}
