{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

{% include 'partials/flashes/error.html.twig' %}
{% include 'partials/flashes/success.html.twig' %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

            <div class="offset-md-3 col-md-6 offset-md-3">
                <h2 class="h1 mt-4 text-center">Inscription</h2>
                <p class="text-center">Inscrivez vous afin d'intégrer la communauté des fans de Philippe Dereux.</p>

                {{ form_start(registrationForm) }}
                <div class="form-group mb-3">
                    {{ form_row(registrationForm.pseudonym) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>
                <div class="form-group mb-3">
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>
                <div class="form-group mb-3">
                    {{ form_row(registrationForm.save) }}
                </div>
                {{ form_end(registrationForm) }}
            </div>

            {% endblock %}
            {% block stylesheets %}
                {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            {% endblock %}
