{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% include 'partials/flashes/error.html.twig' %}
{% include 'partials/flashes/success.html.twig' %}

      <h1 class="h2 mt-4 text-center">Les amis de Philippe Dereux</h1>
      <p class="text-center">Le site des amoureux des oeuvres de Philippe Dereux et autres.</p>
      <div id="homeCard" class="mt-4">
        <div class="my-4 card shadow" style="width: 16rem;">
          <img src="{{ asset('img/card.jpg') }}" class="card-img-top" alt="Blog">
          <div class="card-body">
            <h5 class="card-title">Blog</h5>
            <p class="card-text">Cette section est dédiée aux articles en lien avec Philippe Dereux ou d'autres artistes.</p>
            <a href="{{ path('blog_index') }}" class="btn defaultBtn">Accéder au blog</a>
          </div>
        </div>
          <img id="logo" src="{{ asset('img/logo.png') }}" alt="Logo">
        <div class="my-4 card shadow" style="width: 16rem;">
          <img id="artworkCard" src="{{ asset('img/oeuvres.jpg') }}" class="card-img-top" alt="Oeuvres">
          <div class="card-body">
            <h5 class="card-title">Oeuvres</h5>
            <p class="card-text">Cette section vous permet de parcourir diverses oeuvres de différents artistes.</p>
            <a href="{{ path('artwork_index') }}" class="btn defaultBtn">Accéder aux oeuvres</a>
          </div>
        </div>
      </div>
      <figure class="text-center">
        <blockquote>
            <p>"Dans une discussion j'ai plus de plaisir à avoir tort que raison. J'ai ainsi l'impression d'avoir appris quelque chose."</p>
        </blockquote>
        <figcaption>Citation figurant dans <cite><a target="_blank" href="https://www.babelio.com/livres/Dereux-Journal-des-epluchures/548094">Journal des épluchures</a></cite> écrit par <b>Philippe Dereux</b>.</figcaption>
      </figure>


{% endblock %}
