{% extends 'adminBase.html.twig' %}

{% block title %}Nouvelle oeuvre{% endblock %}

{% block body %}
    <h1 class="h2 text-center my-4">Ajouter une oeuvre</h1>

    {{ form_start(form) }}
        <div class="form-group mb-3">
            <label class="required" for="artwork_picture">{{form.picture.vars.label}}</label>
            {{ form_errors(form.picture) }}
            {{ form_widget(form.picture) }}
            {{ form_help(form.picture) }}
        </div>
        <div class="form-group mb-3">
            <label class="required" for="artwork_title">{{form.title.vars.label}}</label>
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_help(form.title) }}
        </div>
        <div class="form-group mb-3">
            <label class="required" for="artwork_artist">{{form.artist.vars.label}}</label>
            {{ form_errors(form.artist) }}
            {{ form_widget(form.artist) }}
            {{ form_help(form.artist) }}
        </div>
        <div class="form-group mb-3">
            {{ form_label(form.yearOfCreation) }}
            {{ form_widget(form.yearOfCreation) }}
            {{ form_help(form.yearOfCreation) }}
        </div>
        <div class="form-group mb-3">
            <label class="required" for="artwork_description">{{form.description.vars.label}}</label>
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_help(form.description) }}
        </div>
        {{ form_errors(form) }}
        <div class="form-group mb-3">
            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
        </div>
    {{ form_end(form) }}

    <a class="btn defaultBtn my-4 me-1" href="{{ path('admin_artwork_index') }}">Retour aux oeuvres</a>
    <a class="btn adminBtn my-4 me-1" href="{{ path('artwork_index') }}">Gestion des oeuvres</a>

{% endblock %}

{% block stylesheets %}
    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
