{% extends 'adminBase.html.twig' %}

{% block title %}Nouvelle oeuvre{% endblock %}

{% block body %}
    <h1 class="h2 text-center my-4">Ajouter une oeuvre</h1>

    {{ form_start(form) }}
        <div class="form-group mb-3">
            {{ form_row(form.picture) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(form.title) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(form.artist) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(form.yearOfCreation) }}
        </div>
        <div class="form-group mb-3">
            {{ form_row(form.description) }}
        </div>

    {{ form_end(form) }}

    <a class="btn defaultBtn my-4 me-1" href="{{ path('admin_artwork_index') }}">Retour aux oeuvres</a>
    <a class="btn adminBtn my-4 me-1" href="{{ path('artwork_index') }}">Gestion des oeuvres</a>

{% endblock %}
