{% extends 'base.html.twig' %}

{% block title %}{{artwork.title}}{% endblock %}

{% block body %}
  {% include 'partials/flashes/error.html.twig' %}
  {% include 'partials/flashes/success.html.twig' %}
  <h1 class="h2 text-center blogArticle mt-4 mb-2 col-12"><b>{{artwork.title|striptags|slice(0, 100)}}</b></h1>
  <p class="mb-4 text-center">Créée par <b>{{ artwork.artist }}</b> en {% if artwork.yearOfCreation is empty %}<b>date inconnue</b>{% else %}<b>{{ artwork.yearOfCreation }}</b>{% endif %}</p>

  <article>
      <img id="artworkImg" class="d-block me-auto ms-auto my-4" src="{{ asset('img/artworks/' ~ artwork.picture)}}" alt="{{ artwork.title }}">
      <p>Publiée le <b>{{ artwork.publicationDate ? artwork.publicationDate|date('d/m/Y à H:i:s') : '' }}</b> par {% if artwork.author is empty %}<b>Utilisateur supprimé</b>{% else %}<b>{{ artwork.author.pseudonym }}</b>{% endif %}</p>
      <hr>
      <div class="blogArticle mb-4 col-12">{{ artwork.description|purify }}</div>
      <hr>
  </article>


  <div id="profilBtn" class="mt-5">
    {% if is_granted("ROLE_ADMIN") %}
      <a class="btn adminBtn mb-5" href="{{ path('admin_artwork_index') }}">Gestion des oeuvres</a>
      <a class="btn defaultBtn mb-5" href="{{ path('artwork_index') }}">Retour aux oeuvres</a>
      <a class="btn adminBtn mb-5" href="{{ path('artwork_edit', {'slug': artwork.slug}) }}">Éditer</a>
      <form method="post" action="{{ path('artwork_delete', {'slug': artwork.slug}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette oeuvre ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artwork.id) }}">
        <button id="deleteBtn" class="btn mb-5">Supprimer</button>
      </form>
    {% else %}
      <a class="btn defaultBtn" href="{{ path('artwork_index') }}">Retour aux oeuvres</a>
    {% endif %}
  </div>

  {% if artwork.ArtworkComments is empty %}
    <p class="text-center alert alert-warning mt-5">Aucun commentaire n'a été publié pour le moment.</p>
  {% else %}
    <p class="text-center my-4">Commentaires: {{ artwork.ArtworkComments|length }}</p>
    <div class="mt-5 mb-3 text-center">
      <div class="d-inline-block">
        {# Affichage du menu permettant de naviguer entre les différentes pages #}
        {{ knp_pagination_render(comments) }}
      </div>
    </div>

    {% for comment in comments %}
      <div class="comment my-4 text-justify float-left">

        {% if comment.author.photo is null %}
          <img class="rounded-circle me-1" width="40" height="40" src="{{ asset('img/profil_default.png')|imagine_filter('profil') }}" alt="image de profil">
        {% else %}
          <img class="rounded-circle me-1" width="40" height="40" src="{{ asset('img/users/' ~ comment.author.photo)|imagine_filter('profil') }}" alt="image de profil">
        {% endif %}

        <h4 class="h5"><strong>{{ comment.author.pseudonym }}</strong></h4> <span>- {{ comment.publicationDate|date('d/m/Y à H:i:s') }}</span>
        <p class="mt-2" id="commentContent">{{ comment.content|striptags }}</p>

          {% if is_granted('ROLE_ADMIN') or app.user.id is defined and comment.author.id == app.user.id %}
            <a onclick="return confirm('Souhaitez vous vraiment supprimer ce commentaire ?');" class="btn btn-danger" href="{{ path('delete_artwork_comment', {'slug': comment.slug, csrf_token: csrf_token('delete_artwork_comment_' ~ comment.id)}) }}"><i class="text-white fas fa-trash me-1"></i>Supprimer</a>
          {% endif %}

          {% if is_granted('ROLE_USER') and app.user.id is defined and comment.author.id == app.user.id %}
            <a class="btn altBtn" href="{{ path('artwork_comment_edit', {'slug': comment.slug}) }}"><i class="fas fa-edit me-1"></i>Modifier</a>
          {% endif %}
          <hr>
      </div>
    {% endfor %}

    <div class="mt-5 mb-3 text-center">
      <div class="d-inline-block">
        {# Affichage du menu permettant de naviguer entre les différentes pages #}
        {{ knp_pagination_render(comments) }}
      </div>
    </div>
  {% endif %}

  <div>
    {# Liste des commentaires lié à l'oeuvre #}
    {% if is_granted('ROLE_USER') %}
      <h2 class="h3 text-center my-5">Ajouter un commentaire :</h2>
      {{ form_start(form) }}
      <div class="form-group mb-3">
        <label class="required" for="artwork_comment_form_content">{{form.content.vars.label}}</label>
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_help(form.content) }}
      </div>
        {{ form_errors(form) }}
        <div class="form-group mb-3">
            <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
        </div>
        <div class="form-group mb-3">
            {{ form_row(form.save) }}
        </div>
      {{ form_end(form) }}
    {% else %}
      <div class="d-flex flex-row justify-content-center">
        <button type="button" class="my-4 btn altBtn"><a class="text-white text-decoration-none"href="{{ path('app_login') }}">Connectez vous pour ajouter un commentaire</a></button>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block stylesheets %}
  {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}