{% extends 'base.html.twig' %}

{% block title %}Éditer un commentaire{% endblock %}

{% block body %}
    <h1 class="my-4 text-center">Éditer un commentaire</h1>

    {{ include('blog/_form.html.twig') }}
    <div id="profilBtn" class="mt-5">

        <a class="btn btn-warning mb-5" href="{{ path('blog_admin') }}">Gestion du blog</a>
        <a class="btn btn-warning mb-5" href="{{ path('blog_index') }}">Retour aux articles</a>
        <form method="post" action="{{ path('comment_edit', {'slug': articleComment.slug}) }}" onsubmit="return confirm('Souhaitez vous vraiment supprimer cet article ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articleComment.id) }}">
            <button class="btn btn-danger mb-5">Supprimer</button>
        </form>
        

    </div>
{% endblock %}
