{% extends 'adminBase.html.twig' %}

{% block title %}Édition article{% endblock %}

{% block body %}
    <h1 class="h2 text-center my-4">Éditer l'article :  {{ article.title|length > 20 ? article.title|slice(0, 20) ~ '…' : article.title  }}</h1>

    {{ form_start(form) }}
    <div class="form-group mb-3">
        <label class="required" for="article1_title">{{form.title.vars.label}}</label>
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
    </div>
    <div class="form-group mb-3">
        <label class="required" for="article1_content">{{form.content.vars.label}}</label>
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_help(form.content) }}
    </div>
    {{ form_errors(form) }}
    {{ form_end(form) }}

    <div id="profilBtn" class="mt-5">
        <a class="btn adminBtn mb-5" href="{{ path('blog_admin') }}">Gestion du blog</a>
        <a class="btn defaultBtn mb-5" href="{{ path('blog_show', {'slug': article.slug}) }}">Retourner sur l'article</a>
        <form method="post" action="{{ path('admin_blog_delete', {'slug': article.slug}) }}" onsubmit="return confirm('Souhaitez vous vraiment supprimer cet article ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
            <button id="deleteBtn" class="btn mb-5">Supprimer</button>
        </form>
    </div>
{% endblock %}
