{% extends 'base.html.twig' %}

{% block title %}Éditer {{ article.title|length > 20 ? article.title|slice(0, 20) ~ '…' : article.title  }}{% endblock %}

{% block body %}
    <h1 class="h2 my-4 text-center">Éditer l'article : {{ article.title|length > 20 ? article.title|slice(0, 20) ~ '…' : article.title  }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div id="profilBtn" class="mt-5">

        <a id="adminBtn" class="btn mb-5" href="{{ path('blog_admin') }}">Gestion du blog</a>
        <a class="btn defaultBtn mb-5" href="{{ path('blog_index') }}">Retour aux articles</a>
        <form method="post" action="{{ path('blog_delete', {'slug': article.slug}) }}" onsubmit="return confirm('Souhaitez vous vraiment supprimer cet article ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
            <button id="deleteBtn" class="btn mb-5">Supprimer</button>
        </form>
    </div>
{% endblock %}
