{% extends 'adminBase.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1 class="h2 text-center my-4">Ajouter un article</h1>

    {{ form_start(form) }}
    <div class="form-group mb-3">
        <label class="required" for="article1_title">{{form.title.vars.label}}</label>
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_help(form.title) }}
    </div>
    <div class="form-group mb-3">
        <label class="required" for="article1_content">{{form.content.vars.label}}</label>
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_help(form.content) }}
    </div>
    {{ form_errors(form) }}
    <div class="form-group mb-3">
        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
    </div>
    {{ form_end(form) }}

    <a class="btn defaultBtn my-4 me-1" href="{{ path('blog_index') }}">Retour au blog</a>
    <a class="btn adminBtn my-4 me-1" href="{{ path('blog_admin') }}">Gestion du blog</a>

{% endblock %}

{% block stylesheets %}
    {# Insertion du fichier JS dans le block stylesheets, ce n'est pas une erreur, la documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
