{% extends 'adminBase.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1 class="h2 text-center my-4">Ajouter un article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <a class="btn defaultBtn my-4 me-1" href="{{ path('blog_index') }}">Retour au blog</a>
    <a class="btn adminBtn my-4 me-1" href="{{ path('blog_admin') }}">Gestion du blog</a>

{% endblock %}
