{% extends 'base.html.twig' %}

{% block title %}{{ contact.subject|length > 40 ? contact.subject|striptags|slice(0, 40) ~ '…' : contact.subject|striptags  }}{% endblock %}

{% block body %}
  {% include 'partials/flashes/error.html.twig' %}
  {% include 'partials/flashes/success.html.twig' %}

    <div class="text-center">
            <p class="h3 my-4"><b>Sujet:</b> {{ contact.subject }}</p>
            <p><b>Auteur:</b> {{contact.name}}</p>
            <p><b>Adresse email:</b> {{ contact.email }}</p>
            <p><b>Date d'envoi:</b> {{ contact.dateSent ? contact.dateSent|date('d/m/Y à H:i:s') : '' }}</p>
            <p><b>Message:</b> {{ contact.message }}</p>
    </div>


    <div id="profilBtn" class="mt-5">
      <a id="adminBtn" class="btn mb-5" href="{{ path('contact_list') }}">Liste des contacts</a>
      <form method="post" action="{{ path('admin_contact_delete', {'slug': contact.slug}) }}" onsubmit="return confirm('Souhaitez vous vraiment supprimer ce contact ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
        <button id="deleteBtn" class="btn">Supprimer</button>
    </form>
    </div>

{% endblock %}
